<div class="container py-5">
  <h1>Todos os animais</h1>
  <div class="d-flex align-items-center justify-content-between mb-3">
    <ul>
      <% @animals.each do |animal| %>
        <li>
          <%
=begin%>
 <%= link_to image_tag(animal.image.url), animal_path(animal) %> 
<%
=end%>
          <p>Nome: <%= animal.nome %></p>
          <p>Procura-se</p>
        </li>
      <% end %>
    </ul>
  </div>
  <%= link_to "Cadastre um novo animal", new_animal_path %>
</div>
